body {

    background: #F3F5FC;
    font-size: 16px;
    margin: 0px;

}

.contenedor {
    position: relative;

    min-height: 100vh;
    text-align: center;

}

.grupo {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 50%;
    height: 88.5%;
    display: grid;

    grid-template-areas:
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "texto texto texto"
        "adv adv adv"
        "boton boton boton";
}

#logo {
    position: absolute;
    left: 4%;
    top: 2.5rem;
    bottom: 0%;
    width: 31.09px;
    height: 48px;
}

.textoEntrada {

    grid-area: texto;
}

#entrada {

    width: 100%;
    height: 100%;

    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;

}

textarea {
    outline: none;
    resize: none;
}

::placeholder {
    color: #0A3871;
}

#botones {

    grid-area: boton;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;


}

#botones input {
    margin-right: 10px;

}

#botones input:hover {
    
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

#advertencia {

    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;

    grid-area: adv;

    display: flex;

    justify-content: flex-start;
    align-items: flex-end;
}

#advertencia img {
    margin: 0 10px;
}



#encriptar {
    padding: 1.5rem;
    width: 20.5rem;
    height: 4.1875rem;
    background: #0A3871;
    border-radius: 24px;
    color: white;
    border-color: #0A3871;
}

#desencriptar {
    padding: 1.5rem;
    width: 20.5rem;
    height: 4.1875rem;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    border-color: #0A3871;
}

#Bcopiar {
    position: absolute;
    bottom: 1.5%;
    left: 2rem;
    padding: 1.5rem;
    width: 20.5rem;
    height: 4.1875rem;
    background: white;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
}

#Bcopiar:hover{
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

#contenido {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 77%;
    border-radius: 32px;
    background-color: white;
    width: 25rem;
    height: 59rem;
    text-align: center;

    align-items: center;
    justify-content: space-around;
    align-content: space-around;
}

#muneco {

    width: 21rem;
    height: 19rem;
}

#texto1 {

    width: 21rem;
    height: 3.625rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

#texto2 {

    width: 21rem;
    height: 3rem;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: gray;
}

#respuesta {
    width: 21rem;
    height: auto;
    max-height: 48.8125rem;
    border: 0px;
    word-wrap: break-word;

    margin: 5% auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;


}



@media (max-width:74.625rem) {
    .contenedor {

        width: auto;

    }

    #logo {

        left: 6%;

    }

    .grupo {
        left: 6%;
        top: 14%
    }

    #advertencia {

        left: 6%;
        top: 837px;
    }

    #botones {
        left: 6%;
        top: 870px;
    }

    #contenido {

        top: 865px;
        left: 6.5%;

        width: 660px;
        height: auto;

    }

    #muneco {
        display: none;
    }

    .textoEntrada {
        width: 91%;
        left: 6%;

    }

    #texto1 {
        position: static;
        width: auto;
        padding-bottom: 10px;
    }

    #texto2 {
        position: static;
        width: auto;
        padding-bottom: 10px;
    }

    #Bcopiar {
        position: static;
        width: 90%;
        margin: 1.5em;
    }

    #respuesta {
        width: 90%;
    }
}



@media (max-width:375px) {
    body {
        font-size: 32px;
    }

    #logo {
        left: 4.5%;

    }

    .grupo {
        height: 63.5%;
    }

    .textoEntrada {
        left: 4.5%;
        width: 92%;
        max-height: 250px;
    }

    #advertencia {
        top: 451px;
        left: 4.5%;

    }

    #botones {
        width: 343px;
        top: 485px;
        left: 4.5%;

    }

    #contenido {
        width: 327px;
        top: 656px;
        left: 24px;
    }
}