body {
    
    background: #F3F5FC;
    font-size: 16px;
    
    
}
.contenedor{
    position: relative;
    margin: 0 15%;
   
    text-align: center;
    margin: auto;
}

#logo {
    position: absolute;
    left: 4%;
    top: 2.5rem;
    bottom: 0%;
    width: 31.09px;
    height: 48px;
}
.textoEntrada{
    position: absolute;
    width: 46%;
    height: 31.25rem;
    left: 16.5%;
    top: 10.5rem;
}
#entrada {
   
    width: 100%;
    height: 100%;
    
    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;

}

textarea {
    outline: none;
    resize: none;
}

::placeholder {
    color: #0A3871;
}

#botones {
    position: absolute;
    left: 16.5%;
    top: 55.3125rem;
    width: 660px;
}

#advertencia {
    position: absolute;
    left: 16.5%;
    top: 53.1875rem;
    width: 205px;
    height: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}

#encriptar {
    padding: 1.5rem;
    width: 20.5rem;
    height: 4.1875rem;
    background: #0A3871;
    border-radius: 24px;
    color: white;
    border-color: #0A3871;
}

#desencriptar {
    padding: 1.5rem;
    width: 20.5rem;
    height: 4.1875rem;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    border-color: #0A3871;
}

#Bcopiar {
    position: absolute;
    top: 52.8125rem;
    left: 2rem;
    padding: 1.5rem;
    width: 20.5rem;
    height: 4.1875rem;
    background: white;
    border-radius: 24px;
    border-color: #0A3871;
    color: #0A3871;
}

#contenido {
    position: absolute;
    
    left: 77%;
    border-radius: 32px;
    background-color: white;
    width: 25rem;
    height: 59rem;
    text-align: center;
}

#muneco {
    position: absolute;
    top: 15.1875rem;
    left: 2rem;
    width: 21rem;
    height: 19rem;
}

#texto1 {
    position: absolute;
    width: 21rem;
    height: 3.625rem;
    top: 36.1875rem;
    left: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

#texto2 {
    position: absolute;
    width: 21rem;
    height: 3rem;
    top: 40.8125rem;
    left: 2rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: gray;
}

#respuesta {
    width: 21rem;
    height: auto;
    max-height: 48.8125rem;
    border: 0px;
    word-wrap: break-word;

    margin: 5% auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;


}

@media (max-width:70.25rem){
    #contenido{
        height: 54rem;
    }
    #Bcopiar{
        top: 47.8125rem;
    }
}

@media (max-width:48rem) {
    .contenedor {
        
        width: auto;
        
    }
    #logo {
        
        left: 40px;
        
    }

    #entrada{
        left: 40px;
    }
    #advertencia {
        
        left: 33px;
        top: 837px;
    }
    #botones{
        left: 40px;
        top: 870px;
    }
    #contenido {
        
        top: 1001px;
        left: 40px;
        
        width: 660px;
        height: auto;
        
    }
    #muneco{
        display: none;
    }
    .textoEntrada{
        width: 91%;
        left: 4.5%;
        
    }
    #texto1{
        position: static;
        width: auto;
        padding-bottom: 10px;
    }
    #texto2{
        position: static;
        width: auto;
        padding-bottom: 10px;
    }
    #Bcopiar{
        position: static;
        width: 90%;
        margin: 1.5em;
    }
    #respuesta{
        width: 90%;
    }
}



@media (max-width:375px) {
    body{
        font-size: 32px;
    }
    #logo{
        left: 4.5%;

    }
    .textoEntrada{
        left: 4.5%;
        width: 92%;
        max-height: 250px;
    }
    #advertencia{
        top: 451px;
        left: 4.5%;

    }
    #botones{
        width: 343px;
        top: 485px;
        left: 4.5%;

    }
    #contenido{
        width: 327px;
        top: 707px;
        left: 24px;
    }
}