body {
    background: #F3F5FC;
    font-size: 16px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.contenedor {
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 100vh;
    width: 80%;
}
#logo {
    width: 31.09px;
    height: 48px;
}

.grupo {
    width: 80%;
    height: 80%;
    position: relative;
    top: 10%;
    display: grid;
    grid-template-rows: 90% auto;
}


#entrada {
    width: 100%;
    height: 100%;

    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;
}

textarea {
    outline: none;
    resize: none;
}

::placeholder {
    color: #0A3871;
}

#botones-contenedor {
    display: flex;
    flex-direction: column;
}

#botones-contenedor input {
    margin-right: 10px;
}

.botones{
    display: flex;
    flex-direction: row;
}

#advertencia {
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#advertencia img {
    margin: 0 10px;
}
.button{
    padding: 1.5rem;
    width: 20.5rem;
    height: 4.1875rem;
    border-radius: 24px;
}
#encriptar {
    background: #0A3871;
    color: white;
    border-color: #0A3871;
}

#desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    border-color: #0A3871;
}

#Bcopiar {
    background: white;
    border-color: #0A3871;
    color: #0A3871;
}

.button:hover{
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
}

#contenido {
    display: flex;
    flex-direction: column;
    border-radius: 32px;
    background-color: white;
    width: 25rem;
    height: 95vh;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 2%;
}

#muneco {
    width: 21rem;
    height: 19rem;
}

#texto1 {
    width: 21rem;
    height: 3.625rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

#texto2 {
    width: 21rem;
    height: 3rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: gray;
}

#respuesta {
    width: 21rem;
    height: auto;
    max-height: 48.8125rem;
    border: 0px;
    word-wrap: break-word;
    margin: 5% auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    display: none;

}

@media (max-width: 1230px){
    .contenedor{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #muneco{
        display: none;
    }
    .grupo{
        height: 30%;
        width: 100%;
    }
    #contenido{
        height: auto;
        width: 100%;
        top: 35%;
    }
    .button{
        width: 100%;
    }
    .botones{
        flex-direction: column;
        width: 100%;
    }
}


/* @media (max-width: 680px) {
    #contenido{
        height: 50vh;
    }
} */



/* @media (max-width:375px) {
    body {
        font-size: 32px;
    }

    #logo {
        left: 4.5%;

    }

    .grupo {
        height: 63.5%;
    }

    .textoEntrada {
        left: 4.5%;
        width: 92%;
        max-height: 250px;
    }

    #advertencia {
        top: 451px;
        left: 4.5%;

    }

    #botones {
        width: 343px;
        top: 485px;
        left: 4.5%;

    }

    #contenido {
        width: 327px;
        top: 656px;
        left: 24px;
    }
} */